# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.test.env

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.db
*.sqlite3
docker-compose.override.yml

creds.json